@import "template";

// ==========================================================================
// Right Sidebar
// ==========================================================================
.detail-sidebar{
	@include box-sizing(border-box);

	.adv-sidebar{
		margin-bottom: 20px;
	}

	.right-side{
		margin-left: 26px;
	}
}

.right-side {
    width: 310px;

    &>div{
    	width: 310px;
    }

    .title-sidebar{
    	background: $black-70;
    	display: block;
    	height: 50px;

    	h3{
    		color: $white;
    		font-size: 16px;
    		font-weight: 600;
    		display: inline-block;
    		line-height: 50px;
    		margin: 0;
    		padding: 0 16px;
    		text-transform: uppercase;
    	}
    }

    .follow-us-container{

	    .title-follow-us{
	    	border-bottom: 1px solid $black-10;
	    	color: $black-80;
	    	font-size: 16px;
	    	font-weight: 600;
	    	margin-bottom: 10px;
	    	padding-bottom: 8px;
	    	text-transform: uppercase;
	    }

		.navi-sosmed{
			@include clearfix();
			margin-bottom: 20px;

			li{
				float: left;
				height: 53px;
				margin-left: 6px;
				width: 53px;

				&:first-child{
					margin-left: 0;
				}

				&.question{
					font-size: 14px;
					width: 74px;
				}

				a{
					@include display-flex;
					@include align-items(center);
					@include justify-content(center);
					@include transition(color .2s linear, background-color .2s linear);
					background: $black-50;
					color: $white;
					height: 53px;
					text-align: center;
					text-decoration: none;

					&:hover{ background: $black-80; }
				}
			}

			.facebook,
			.instagram{ font-size: 18px; }
			.twitter,
			.youtube{ font-size: 20px; }

			.facebook a{
				background: $fb-blue;
				
				&:hover{ background: $fb-shadow-blue; }
			}
			.twitter a{
				background: $twitter-blue;
				
				&:hover{ background: $twitter-shadow-blue; }
			}
			.instagram a{
				background: $instagram-blue;
				
				&:hover{ background: #0a5b7d; }
			}
			.youtube a{
				background: $youtube-red;
				
				&:hover{ background: $blood-red; }
			}
		}
	}

	.winning-issues{
		.title-sidebar h3,
		.number-issues{
			background: $light-blue;
		}
	}

	.trending-rightnow{
		.title-sidebar h3,
		.number-issues{
			background: $red;
		}
	}

	.top-images{
		.title-sidebar h3,
		.number-issues{
			background: $purple;
		}
	}

	.top-quiz{
		.title-sidebar h3,
		.number-issues{
			background: $wa-green;
		}
	}

	.top-games{
		.title-sidebar h3,
		.number-issues{
			background: $light-orange;
		}
	}

	.top-polling{
		.title-sidebar h3,
		.number-issues{
			background: $vermilion;
		}
	}

	.other-videos{
		.title-sidebar h3,
		.number-issues{
			background: $shock-pink;
		}
	}

	.read-this{
		.title-sidebar{
			background: $black-25;
			height: 40px;
		}

		.title-sidebar h3{
			background: transparent;
			line-height: 40px;
		}
	}
}

.detail-gallery,
.detail-meme{

	.right-side,
	.right-side > div{
		width: 390px;
	}


	.right-side > div{
		@include box-sizing(border-box);
		padding-right: 40px;

		&:first-child{
			margin-top: 10px;
		}
	}
}

.addon-wrap{
	margin-bottom: 20px;

	.title-sidebar{
		margin-bottom: 15px;
	}

	.addon-content{
		@include clearfix();
	}

	.package-info-issues{
		@include box-sizing(border-box);
		border: none;
		float: left;
		margin-bottom: 20px;
		padding: 0;
	    position: relative;
		width: 50%;

	    .left-package-issues {

	    	.package-left,
	    	.issues-img{
	    		height: 100px;
	    	}

		    .package-left{
	    		overflow: hidden;
	    		position: relative;
		    }

		    .issues-img{
		    	position: relative;

		    	&>img{
			    	@include translate(-50%, -50%);
			    	font-size: 0;
				    left: 50%;
				    min-height: 100px;
			    	min-width: 130px;
				    position: relative;
				    top: 50%;
				    max-width: 100%;
		    	}
		    }

	    	.number-issues {
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 30px;
			    height: 30px;

			    p {
			    	color: $white;
				    font-weight: 600;
				    font-size: 18px;
				    line-height: 30px;
				    margin: 0;
				    text-align: center;
				}
			}
		}

		.right-package-issues{

			h1 {
				@include transition(color .3s linear);
				color: $black-80;
				font-size: 16px;
				font-weight: 600;
				margin: 0 0 5px;
				overflow: hidden;
			}

			.post-author{
			    color: $black-30;
			    font-size: 10px;

			    a{
					@include transition(color .3s linear);
			    	color: $black-30;
			    	position: relative;
			    	z-index: 2;

			    	&:hover{
						color: $link-blue;
			    	}
			    }
			}
		}
	}

	.package-info-issues:hover .right-package-issues h1{
		color: $link-blue;
	}

	.package-footer-issues{
		border-color: $black-10;
		border-style: solid;
		border-width: 1px 0;

		a{
			@include transition(background-color .2s linear);
			background: $black-05;
			color: $black-80;
			display: block;
			height: 38px;
			line-height: 38px;
			text-align: center;
			text-transform: uppercase;

			&:hover{
				background: $black-10;
			}
		}
	}

	&.top-images .addon-content,
	&.top-quiz .addon-content,
	&.top-games .addon-content,
	&.top-polling .addon-content,
	&.trending-rightnow .addon-content{
		padding: 0 10px;

		.left-package-issues{
			margin-bottom: 10px;
		}
	}

	&.trending-rightnow .package-info-issues{

		&:first-child{
			width: 100%;

			.package-left,
			.issues-img{
				height: 150px;
			}
		}

		&:nth-child(2n+2){
			clear: both;
			padding-right: 5px;
		}

		&:nth-child(2n+3){
			padding-left: 5px;
		}
	}

	&.top-images .package-info-issues,
	&.top-quiz .package-info-issues,
	&.top-games .package-info-issues,
	&.top-polling .package-info-issues{
		&:nth-child(2n+1){
			clear: both;
			padding-right: 5px;
		}
		&:nth-child(2n+2){
			padding-left: 5px;
		}
	}

	&.winning-issues .package-info-issues,
	&.other-videos .package-info-issues,
	&.next-gallery .package-info-issues{
		@include clearfix();
		width: 100%;

	    .left-package-issues{
	    	float: left;
	    }
	}

	&.other-videos .package-info-issues{
		margin-bottom: 15px;

	    .left-package-issues,
	    .left-package-issues .issues-img,
	    .left-package-issues .package-left{
	    	height: 68px;
	    	width: 120px;
	    }

		.right-package-issues{
			padding-left: 135px;
		}
	}

	&.winning-issues,
	&.next-gallery{

		.title-sidebar{
			margin-bottom: 0;
		}

		.left-package-issues{
	    	width: 130px;
	    }

		.right-package-issues{
			padding-left: 140px;
		}

		.package-info-issues{
			margin-bottom: 0;
		}
	}

	&.winning-issues{

		.package-info-issues{
			border-top: 1px solid $black-10;
			padding: 15px 15px 15px 0;

			&:first-child{
				border-top: none;
			}
		}
	}

	&.next-gallery{

		.title-next-gallery{
			margin-bottom: 2px;
			padding-top: 8px;

			h3{
				color: $white;
				font-size: 16px;
				font-weight: 600;
				margin: 0;
				padding: 0;
				text-transform: uppercase;
			}
		}

		.package-info-issues{
			float: none;
			padding: 10px 15px 10px 0;

			.right-package-issues h1{
				font-size: 14px;
				font-weight: normal;
				line-height: 1.3;
			}
		}

		.addon-content .adv{
			padding: 10px 0;
			width: 336px;

			img{
				height: auto;
				width: 100%;
			}
		}
	}

	&.read-this{

		.package-info-issues{
			float: none;
	    	margin-bottom: 20px;
			padding: 0 10px;
			width: 100%;

		    .left-package-issues{
		    	margin-bottom: 10px;

			    .package-left,
			    .issues-img{
			    	height: 150px;
			    }
		    }
	    }
	}

	&.advertaising{
		background: $black-10;
		display: block;
		height: 250px;
		margin: 0 5px 20px;
		text-align: center;
	}

	&.social-media{
		@include box-sizing(border-box);

		& > *{
			width: 278px;
		}

		.views-shares{
			font-size: 0;
			margin-bottom: 12px;

			.views,
			.shares{
				display: inline-block;
				font-size: 18px;
				font-weight: 600;
				margin: 0;
				padding: 0;
			}

			.views{
				color: $tosca;
			}

			.shares{
				color: $light-blue;
				margin-left: 30px;
			}

			.label{
				color: $white;
				font-size: 12px;
				font-weight: normal;
				margin-left: 8px;
				text-transform: uppercase;
			}
		}

		.social-btn{
			@include clearfix();
			padding-left: 1px;

			li{
				@include box-sizing(border-box);
				float: left;
				width: 33.33333%;

				&:nth-child(3n+1){ padding: 0 6px 0 0; }
				&:nth-child(3n+2){ padding: 0 3px; }
				&:nth-child(3n+3){ padding: 0 0 0 6px; }

				a{
					@include transition(color .2s linear, background-color .2s linear);
					@include border-radius(5px);
					@include box-sizing(border-box);
					background: #fff;
					color: $black-40;
					display: block;
					font-size: 0;
					font-weight: 600;
					height: 40px;
					line-height: 40px;
					text-align: center;

					&:hover{
						color: $black-10;
					}

					span{
						font-size: 14px;
					}

					.keepo-icon{

						&::before{
							margin-left: 0;
						}
					}
				}

				&.facebook a,
				&.twitter a{
					color: $white;

					span,
					.keepo-icon{
						display: inline-block;
						vertical-align: middle;
					}
				}

				&.facebook a{
					background: $fb-blue;

					&:hover{
						background: $fb-shadow-blue;
					}

					.keepo-icon{
						font-size: 18px;
					}
				}

				&.twitter a{
					background: $twitter-blue;

					&:hover{
						background: $twitter-shadow-blue;
					}

					.keepo-icon{
						font-size: 20px;
					}
				}

				&.embed a{
					border: 1px solid $black-10;
				}
			}
		}
	}
}

.subscribe-wrap{
	@include border-radius(3px);
	overflow: hidden;

	.form-subscribe{
		@include box-sizing(border-box);
		background: $tosca;
		height: 220px;
		padding: 20px 13px 30px;
		text-align: center;

		.title-subscribe{
			margin-bottom: 34px;

			h3,
			p{
				color: $white;
				margin: 0;
				padding: 0;
			}

			h3{
				@include text-shadow(0 1px 0px $tosca, 0px 3px 0px rgba(178, 213, 39, 1)) ;
				font-size: 35px;
				line-height: 1;
				margin: 0 0 10px;
			}

			p{
				font-size: 14px;
			}
		}
	}

	form{
		@include clearfix();
		display: block;
		position: relative;
		min-height: 40px;

		input{
			@include box-sizing(border-box);
			font-size: 14px;
		}

		input[type="text"]{
			@include border-radius(5px);
			border: none;
			color: $black-20;
			height: 40px;
			padding: 0 94px 0 10px;
			width: 100%;
		}

		input[type="submit"]{
			@include border-radius(0 5px 5px 0);
			background: $oxford-blue;
			border: none;
			color: $white;
			cursor: pointer;
			height: 40px;
			position: absolute;
			right: 0;
			top: 0;
			width: 84px;
		}

		// ==========================================================================
		
		&.processing {
			input[type=submit] {
				@include box-sizing(border-box);
				@include border-radius(5px);
				width: 100%;
				cursor: wait;
			}
		}
	}

	.sitemaps{
		@include box-sizing(border-box);
		background: $black-80;
		color: $white;
		height: 112px;
		padding: 15px 0;
		text-align: center;

		nav{

			ul{
				font-size: 0;
				line-height: 14px;
				padding: 0 20px;
			}

			li{
				display: inline-block;
				margin: 5px 2px;
				vertical-align: middle;

				&.separator{
					font-size: 20px;
				}

				a{
					color: $white;
					font-size: 14px;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}

		.copyright{
			margin: 5px 0;
		}
	}
}

// Right Sidebar
// ==========================================================================



// ==========================================================================
// Center Addons
// ==========================================================================
.rank, .card{
	@include border-radius(5px);
	background: $white;
	border: 1px solid $black-10;
	color: $black-30;
	font-size: 12px;
	padding: 0 8px;

	a{
		color: $black-30;
	}
}

.card{
	@include border-radius(5px);
	background: $white;
	border: 1px solid $black-10;
	display: inline-block;
	font-size: 0;
	margin-top: 5px;
	height: 28px;
	line-height: 28px;

	span{
		font-size: 12px;
	}

	.orange-bold{
		color: $orange;
		font-weight: bold;
		margin-right: 3px;
	}

	.title,
	.stars{
		display: inline-block;
	}

	.title{
		color: $black-30;
		font-size: 12px;
	}

	.stars{
		font-size: 0;
		height: 28px;
		line-height: 28px;
		margin-left: 5px;

		.keepo-icon{
			display: inline-block;
			font-size: 12px;

			&::before{
				margin: 0;
			}
		}

		.icon-star-1{
			color: #ffa405;

			&.empty{
				color: $black-10;
			}
		}
	}
}

.center-addons{
	width: 728px;

	.author-preview{
		@include clearfix();
		border-color: $black-10;
		border-style: solid;
		border-width: 1px 0 1px;
		margin-bottom: 20px;
		padding: 20px 0 25px;

		.tags{
			float: left;
			margin-right: 48px;
			width: 280px;

			p{
				color: $black-30;
				font-size: 12px;
				margin: 0 0 10px;
				padding: 0;
				text-transform: uppercase;
			}

			.tags-box{
				margin-left: -5px;

				.category-tag{
					display: inline-block;
					margin: 5px;
				}
			}
		}

		.author{
			@include box-sizing(border-box);
			@include clearfix();
			float: left;
			width: 400px;
		}

		.author-thumb{
			@include border-radius(50%);
		    height: 65px;
		    display: block;
		    float: left;
		    overflow: hidden;
		    width: 65px;

		    img{
				@include translate(-50%, -50%);
				font-size: 0;
				left: 50%;
				min-height: 65px;
				min-width: 65px;
				position: relative;
				top: 50%;
				max-height: 100%;
				max-width: 100%;
				height: auto;
				width: auto;
		    }
		}

		.author-detail{
			padding-left: 80px;

			.author-name{
				font-size: 16px;
				margin-bottom: 15px;
				text-transform: uppercase;

				a{
					color: $black-90;
					
					&:hover{
						color: $link-blue;
					}
				}
			}

			.rank-box{
				font-size: 0;

				& > div{
					@include box-sizing(border-box);
					display: inline-block;
					font-size: 12px;
					text-transform: uppercase;

					&,a{
						height: 28px;
						line-height: 28px;
					}

					a{
						@include border-radius(5px);
						display: block;
						padding: 0 15px;
					}
				}

				.follow,
				.unfollow{ margin-left: 5px; }

				.follow{

					a{
						background: $tosca;
						color: $white;

						&:hover{
							background: $light-tosca;
						}
					}
				}

				.unfollow{

					a{
						background: $black-30;
						color: $white;

						&:hover{
							background: $black-25;
						}
					}
				}
			}
		}

		.autho-info{
			margin-top: 15px;
			max-height: 92px;
			overflow: hidden;

			p{
				color: $black-40;
				font-size: 14px;
				line-height: 18px;
				margin: 0;
			}
		}
	}

	.reaction{
		&.close:after {
			content: ' ';
			display: block;
			background: rgba(255, 255, 255, 0.4);
			top: 10px;
			left: 0;
			right: 0;
			bottom: 0;
			position: absolute;
		}
		@include border-radius(3px);
		background: $white;
		border: 1px solid $black-10;
		margin-bottom: 25px;
		padding: 10px 42px 15px;
		position: relative;

		.reaction-text{
			@include background-image(linear-gradient($black-02, $white));
			color: $black-80;
			font-size: 14px;
			font-weight: 600;
			left: 20px;
			line-height: 1;
			margin: 0;
			padding: 0 5px;
			position: absolute;
			top: -7px;
		}

		ul{
			font-size: 0;
			text-align: center;

			li{
				display: inline-block;
				margin: 0 5px;
				padding: 10px 0;
				width: 70px;

				a{
					color: $black-50;
					text-transform: uppercase;

					&:hover{

						.image::after{
							background-color: rgba(0, 186, 198, 0.7);
						}
					}
				}

				span{
					display: block;
				}

				.image{
					position: relative;
					margin: 0 5px;

					&::after{
						@include transition(background-color .3s ease);
						@include border-radius(50%);
						background-color: transparent;
						bottom: 0;
						content: " ";
						display: block;
						left: 0;
						position: absolute;
						top: 0;
						right: 0;
					}
				}

				.label{
					font-size: 12px;
					margin-top: 5px;
				}
			}
		}
	}

	.comment-navi{
		margin-bottom: 40px;

		ul{
			@include clearfix();
			height: 42px;
		}

		li{
			float: left;
			text-align: center;
			width: 50%;

			a{
  				@include box-shadow($dark-tosca 0px 2px 0px 0px);
				@include border-radius(5px 0 0 5px);
				@include transition(background-color .3s ease);
				background: $tosca;
				display: block;
				color: $white;
				font-weight: 600;
				height: 40px;
				line-height: 40px;

				&:hover{
					background: $dark-tosca;

					span{
						display: inline-block;
						margin-top: 1px;
					}
				}
			}

			& + li{

				a{
					@include border-radius(0 5px 5px 0);
					background: $light-tosca;
				}
			}
		}
	}

	.comment-loading {
		position: relative;
		top: -27px;
		left: 33px;
	}
	.comment-loading .loader-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -48px 0 0 -48px;
		font-size: 96px;
		color: #FFF;
		height: 30px;
		width: 30px;
	}

	.comment-loading .loader-icon.spinning-cog {
		-webkit-animation: spinning-cog 1.3s infinite ease;
		-moz-animation: spinning-cog 1.3s infinite ease;
		-ms-animation: spinning-cog 1.3s infinite ease;
		-o-animation: spinning-cog 1.3s infinite ease;
		animation: spinning-cog 1.3s infinite ease;
	}

	@-webkit-keyframes spinning-cog {
		0% { -webkit-transform: rotate(0deg) }
		20% { -webkit-transform: rotate(-45deg) }
		100% { -webkit-transform: rotate(360deg) }
	}

	@-moz-keyframes spinning-cog {
		0% { -moz-transform: rotate(0deg) }
		20% { -moz-transform: rotate(-45deg) }
		100% { -moz-transform: rotate(360deg) }
	}

	@-o-keyframes spinning-cog {
		0% { -o-transform: rotate(0deg) }
		20% { -o-transform: rotate(-45deg) }
		100% { -o-transform: rotate(360deg) }
	}

	@keyframes spinning-cog {
		0% { transform: rotate(0deg) }
		20% { transform: rotate(-45deg) }
		100% { transform: rotate(360deg) }
	}

	.responses-wrap,
	.related-issues{

		.title-block{
			background: $black-80;
			height: 36px;
			line-height: 36px;
			padding: 0 10px;

			p{
				color: $white;
				font-size: 16px;
				font-weight: 600;
				margin: 0;
			}
		}
	}


	.responses-wrap{
		margin-bottom: 20px;

		.responses{
			@include clearfix();
			border-bottom: 1px solid $black-10;
			padding: 25px 30px 30px 0;

			.actor-thumb{
				@include border-radius(50%);
				display: block;
				float: left;
				height: 65px;
				width: 65px;
				overflow: hidden;

			    img{
					@include translate(-50%, -50%);
					font-size: 0;
					left: 50%;
					min-height: 65px;
					min-width: 65px;
					position: relative;
					top: 50%;
					max-height: 100%;
					max-width: 100%;
					height: auto;
					width: auto;
			    }
			}

			.responses-detail{
				padding-left: 85px;
			}

			.actor-detail{
				font-size: 0;
				margin-bottom: 15px;

				p{
					margin: 0;
				}

				.name, .rank,
				.card{ 
					@include box-sizing(border-box);
					display: inline-block;
					height: 28px;
					line-height: 28px;
				}

				.name{
					font-size: 14px;
					text-transform: uppercase;

					a{
						color: $tosca;

						&:hover{
							text-decoration: underline;
						}
					}
				}

				.rank{
					margin-left: 10px;
					display: none; /* hide sementara */
				}

				.card{
					margin-left: 5px;
					display: none; /* hide sementara */
				}
			}

			.responses-content{
				margin-bottom: 15px;

				p{
					color: $black-40;
					font-size: 14px;
					line-height: 20px;
					margin: 0;
				}

				.reacted {
					background-color: $tosca;
					padding: 3px 5px;
					color: $white;
					text-transform: uppercase;
				}

				.icon-heart { 
					color: $vermilion;
					font-size: 16px;
				}
			}

			.responses-time{
				@include clearfix();

				.time,
				.report{
					color: $black-30;
					font-size: 12px;
					line-height: 16px;
				}

				.time{
					float: left;
				}

				.report{
					float: right;

					span{
						display: inline-block;
						vertical-align: middle;
					}

					.icon-flag{
						color: $black-30;
						font-size: 14px;
					}

					a{
						color: $black-30;

						&:hover span + span{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	.comment-form{
		font-size: 0;
		margin-bottom: 40px;
		position: relative;

		.comment-box{
			@include border-radius(5px);
			@include box-sizing(border-box);
			border: 1px solid $black-10;
			font-size: 16px;
			height: 208px;
			padding: 18px 25px 65px;
			resize: none;
			width: 100%;

			&:focus{
				outline: none;
			}
		}

		.btn-box{
			@include clearfix();
			bottom: 15px;
			font-size: 14px;
			position: absolute;
			right: 15px;
			width: 210px;

			button{
				@include border-radius(20px);
				@include transition(color .3s linear, background-color .3s linear);
				background: $white;
				display: inline-block;
				float: left;
				height: 40px;
				font-weight: 600;
				width: 100px;

				&.send{
					border: 1px solid $black-80;
					color: $black-80;
					margin-left: 10px;

					&:hover{
						background: $black-80;
						color: $white;
					}

					&.disable{
						border: 1px solid $black-20;
						color: $black-20;
					}
				}

				&.sticker{
					border: 1px solid $tosca;
					color: $tosca;

					&:hover{
						background: $tosca;
						color: $white;
					}
				}
			}
		}
	}

	.related-issues{
		margin-bottom: 50px;

		.title-block{
			margin-bottom: 10px;
		}

		.issues-wrap{
			@include clearfix();
			@include display-flex(flex);
			@include flex-wrap(wrap);

			li{
				@include box-sizing(border-box);
				//float: left;
				margin-left: 8px;
				margin-bottom: 8px;
				position: relative;
				width: 176px;
				min-width: 176px;
				max-width: 176px;

				&:hover .issues-title h1{
					color: $link-blue;
				}

				&:nth-child(4n+1){ margin-left: 0; }

				article{
					position: relative;
				}

				.issues-img{
				    height: 136px;
		    		overflow: hidden;
		    		position: relative;
				    width: 100%;

				    & > img{
					    	@include translate(-50%, -50%);
					    	font-size: 0;
						    left: 50%;
						    min-height: 100%;
					    	min-width: 100%;
						    position: absolute;
						    top: 50%;
						    width: 100%;
					}
				}

				.issues-title{
					margin-top: 10px;
					padding: 0 5px;

					h1{
	    				@include transition(color 0.3s linear);
						color: $black-80;
						font-size: 16px;
						font-weight: 600;
						margin: 0;
						padding: 0;
					}
				}

				a{
					bottom: 0;
					display: block;
					left: 0;
					position: absolute;
					right: 0;
					top:0;
					z-index: 1;
				}
			}
		}
	}
}

.black-theme{

	.center-addons .author-preview,
	.responses-wrap .responses{
		border-color: $black-70;
	}

	.responses-wrap .responses{

		.responses-content,
		.responses-content p{
			color: $white;
		}

		.responses-time{

			.time,
			.report,
			.report a,
			.report .icon-flag{
				color: $black-40;
			}
		}
	}

	.center-addons .author-preview .author-detail .author-name a{
		color: $black-40;
	}

	.rank, .card{
		background: $black-70;
		border-color: $black-70;
	}

	.rank,
	.card .title{
		color: $black-10;
	}

	.center-addons .reaction,
	.center-addons .comment-form .comment-box{
		background: $black-70;
		border-color: $black-70;
	}

	.center-addons .reaction .reaction-text{
		background: transparent;
	}

	.center-addons .reaction ul li a,
	.center-addons .reaction .reaction-text{
		color: $white;
	}

	.center-addons .comment-form .btn-box button.sticker,
	.center-addons .comment-form .btn-box button.send{
		background: $black-70;
	}


	.center-addons .comment-form .btn-box button.sticker{

		&:hover{
			background: $tosca;
			color: $white;
		}
	}

	.center-addons .comment-form .btn-box button.send{
		border-color: $white;
		color: $white;

		&:hover{
			background: $white;
			color: $black-70;
		}
	}

	.center-addons .related-issues .issues-wrap li .issues-title h1{
		color: $white;
	}

	.center-addons .related-issues .issues-wrap li:hover{

		.issues-title h1{
			color: $link-blue;
		}
	}

	.right-side .follow-us-container .title-follow-us{
		color: $white;
	}

	.addon-wrap .package-info-issues .right-package-issues h1{
		color: $white;
	}

	.addon-wrap .package-info-issues:hover .right-package-issues h1{
		color: $link-blue;
	}
}


// Center Addons
// ==========================================================================