@import "template";
@import "text-default";

// ==========================================================================
// Detail
// ==========================================================================
.cover-title{
	height: 420px;
	margin-bottom: 40px;
	overflow: hidden;
	position: relative;
	width: 100%;

	.cover-img{
		display: block;
		height: 420px;
		width: 100%;

		img{
	    	@include translate(-50%, -50%);
	    	font-size: 0;
		    height: auto;
		    left: 50%;
		    min-height: 100%;
	    	min-width: 100%;
		    position: absolute;
		    top: 50%;
		}

		&::after{
			background-color: rgba(0, 0, 0, 0.5);
			bottom: 0;
			content: " ";
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.detail-title{
    	@include translateX(-50%);
		bottom: 28px;
		color: $white;
		left: 50%;
		position: absolute;
		width: 978px;

		.title{
			font-size: 26px;
			font-weight: 800;
			line-height: 52px;
		}
	}
}



.detail-info{

	ul{
		font-size: 0;
	}

	li{
		font-size: 12px;
		display: inline-block;
		line-height: 30px;
		text-transform: uppercase;
		vertical-align: middle;

		&.separator{
			font-size: 20px;
			margin: 0 5px;
		}

		a{
			color: $white;

			&:hover{
				text-decoration: underline;
			}
		}
	}

	.author{
		margin-left: 20px;
		position: relative;
		padding-left: 40px;

		span{
			line-height: 30px;
		}

	    .user-pict{
			@include border-radius(50%);
			@include translateY(-50%);
		    height: 30px;
		    left: 0;
		    overflow: hidden;
		    position: absolute;
		    top: 50%;
		    width: 30px;

		    img{
		    	height: auto;
		    	max-height: 100%;
		    	max-width: 100%;
		    	width: auto;
		    }
		}
	}
}


.detail-wrapper {
    @include display-flex;
    @include flex-wrap(nowrap);
    @include justify-content(center);
}

.detail-container{
	position: relative;
	width: 890px;

	.social-sidebar{
		display: block;
		position: absolute;
		top: 0;
		width: 90px;
		z-index: 1;

		&.sticky{
			position: fixed;
			top: 100px;
		}

		.social-info{

			& > div{
				margin-top: 25px;

				&:first-child{
					margin-top: 0;
				}
			}

			p{
				margin: 0;
			}

			.number{
				font-size: 24px;
				font-weight: 600;
			}

			.label{
				color: $black-30;
				font-size: 12px;
				text-transform: uppercase;
			}

			.views .number{ color: $tosca; }
			.shares .number{ color: $light-blue; }
		}

		.social-btn{
			margin-top: 25px;

			li{
				margin-top: 10px;

				&:first-child{
					margin-top: 0;
				}

				a{
					@include transition(color .2s linear, background-color .2s linear);
					@include border-radius(5px);
					@include box-sizing(border-box);
					color: $white;
					display: block;
					font-size: 0;
					font-weight: 600;
					height: 40px;
					line-height: 40px;
					text-align: center;

					i,span{
						display: inline-block;
						vertical-align: middle;
					}

					span{
						font-size: 14px;
					}

					.keepo-icon{
						margin-left: 0;
					}
				}
			}

			.facebook{

				.keepo-icon{
					font-size: 18px;
					padding-top: 1px;
				}

				a{
					background: $fb-blue;

					&:hover{
						background: $fb-shadow-blue;
					}
				}
			}

			.twitter{

				.keepo-icon{
					font-size: 20px;
				}

				a{
					background: $twitter-blue;

					&:hover{
						background: $twitter-shadow-blue;
					}
				}
			}

			.embed{

				a{
					background: $white;
					border: 1px solid $black-10;
					color: $black-40;

					&:hover{
						color: $black-10;
					}
				}
			}
		}
	}

	.detail-content{
		@include box-sizing(border-box);
		padding: 0 38px 0 124px;

		.lead-title{
			color: $black-80;
			font-size: 24px;
			font-weight: 600;
			line-height: 1.3;
			margin: 0;
		}

		.article,
		.listicle{

			.title{
				margin-bottom: 40px;
			}
		}
	}

	.content-box{

		.adv{
			margin-bottom: 50px;
		}

		&.video-content .adv{
			margin-bottom: 40px;
		}
	}

	.article-footer{

		.adv{
			margin: 55px 0 20px;
		}
	}

	.listicle-content{

		.list{
			border-top: 1px solid $black-10;
			margin-top: 20px;
			padding-top: 20px;
		}

		.title-box{
			@include clearfix();
			padding: 20px 0;
			overflow: hidden;

			.list-number, .list-title{
				font-weight: 600;
			}

			.list-number{
				background: $light-blue;
				color: $white;
				float: left;
				font-size: 30px;
				font-weight: 600;
				line-height: 50px;
				height: 50px;
				text-align: center;
				width: 50px;
			}

			.list-title{
				color: $black-80;
				font-size: 24px;
				line-height: 35px;
				padding-left: 70px;
			}
		}

		.img-box{
			margin-bottom: 40px;

			p{
				margin: 0;
			}

			img{
				height: auto;
				width: 100%;
			}
		}
	}

	.listicle-footer{

		.adv{
			margin: 55px 0 30px;
		}
	}

	.video-container{

		.detail-title{
			color: $black-80;
			margin-bottom: 30px;

			.title{
				font-size: 26px;
				font-weight: 800;
				line-height: 52px;

				h1{
					margin: 0;
				}
			}
		}

		.video{

			.lead-title{
				margin: 0 0 25px;
			}
		}

		.detail-info{
			color: $black-30;
			margin-bottom: 25px;

			a{
				color: $black-30;
			}
		}
	}
}

// Detail
// ==========================================================================


// ==========================================================================
// Media Queries
// ==========================================================================

@media only screen and (max-width: 1280px) {

}

@media only screen and (min-width: 1281px) and (max-width: 1600px) {

}

@media only screen and (min-width: 1601px) {

}

// End of Media Queries
// ==========================================================================
