@import "template";
@import "post-editor-default";

// ==========================================================================
// Variables
// ==========================================================================


// ==========================================================================



// ==========================================================================
// BODY
// ==========================================================================

.eb-listicle {
	margin-top: 50px;
}

.options {
	border: 1px solid $black-10;
	@include border-radius(5px);
	@include display-flex;
	font-size: 14px;
	font-weight: 800;
	line-height: 45px;
	text-align: center;
	overflow: hidden;

	.option {
		background-color: $black-05;
		border-right: 1px solid $black-10;
		color: $black-40;
		cursor: pointer;
		display: block;
		width: (100% / 3);

		&:last-child { border-right: 0 none; }

		&.active {
			background-color: $white;
			color: $black-80;
		}
	}
}

.eb-listicle-list {

}

.eb-listicle-separator {
	padding: 50px 0 50px;
	position: relative;

	div { border-top: 1px solid $black-05; }

	span {
		background-color: $black-80;
		@include border-radius(50%);
		cursor: pointer;
		color: $white;
		font-size: 20px;
		position: absolute;
		top: 50%;
		left: 0;
		height: 30px;
		width: 30px;
		@include transform(translateY(-50%) scale(0));
		@include transition(all .1s ease-in);
	}

	i::before {
		@include transform(rotate(45deg) translate3d(3px, 1px, 0));
	}

	// ==========================================================================
	
	&:hover {
		span { @include transform(translateY(-50%) scale(1)); }
	}
}

.eb-listicle-item {
	padding-left: 40px;
	position: relative;

	.listicle-item-header { margin-bottom: 25px; }

	.listicle-item-numbers,
	.listicle-item-title {
		color: $black-80;
		font-size: 24px;
		font-weight: 600;
	}

	.listicle-item-numbers {
		position: absolute;
		top: 0;
		left: 0;

		&.lin-points {
			text-indent: -999px;
			overflow: hidden;
			height: 10px;
			width: 10px;
			top: 10px;
			left: 10px;

			&::after {
				content: "";
				height: 10px;
				width: 10px;
				position: absolute;
				@include border-radius(50%);
				background-color: $black-80;
				top: 0;
				left: 0;
			}
		}
	}

	.listicle-item-title-holder {
		margin: 0 0 25px;
		position: relative;
		padding-right: 25px;
	}

	.listicle-item-title {
		margin: 0;
		min-height: 28px;
	}

	.listicle-item-remove {
		background-color: $black-20;
		cursor: pointer;
		color: $white;
		@include inline-block;
		@include transition(background-color .2s ease-in);
		height: 18px;
		line-height: 18px;
		text-align: center;
		width: 18px;
		position: absolute;
		top: 50%;
		right: 0;
		@include translateY(-50%);

		&:hover,&:active { background-color: black; }
	}

	// ==========================================================================
	
	.listicle-item-content {
		.medium-insert-buttons { left: -10px !important; }
	}

	// ==========================================================================
	
	.fileupload-pool.on-preview {
		height: auto !important;

		.preview {
			position: static;
		}

		img {
			position: static;
			@include translate(0, 0);
		}
	}
}

// ==========================================================================
